#site-about {
	flex: 1;
}

#info-leadership {
	background-image: url(/includes/leadership.jpg);
}

#info-ranks {
	background-image: url(/includes/ranks.jpg);
}

#info-about {
	background-color: $dark;
	background-image: url(/includes/logo.png);
	background-size: 30%;
}
