#site-footer {
	align-items: center;
	background-color: $green;
	bottom: 0;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;

	.container {
		padding: 0;
	}

	p {
		margin: 0;
		padding: 16px;
	}
}
