#site-header {
	align-items: center;
	background-color: $dark;
	display: flex;
	justify-content: center;

	.container {
		justify-content: space-between;
		padding: 0;
	}
}

#site-nav {
	align-self: flex-end;
	display: flex;
}

.site-nav-link {
	border-bottom: 3px solid transparent;
	color: rgba(#FFF, 0.70);
	padding: 16px 48px;
	text-transform: capitalize;
	font-family: Nunito Sans;
	font-size: 1em;
	font-weight: 600;

	&:hover, &:focus {
		border-color: #FFF;
		color: #FFF;
	}
}
