@import '../../../includes/variables';

#site-admin {
	display: flex;
	height: 100%;
	min-height: 100vh;

	.container {
		flex: 1;
		max-width: 100%;
	}
}

#admin-sidebar {
	background-color: $dark;
	display: flex;
	flex-direction: column;
	font-family: Raleway;
	width: 240px;

	h4 {
		border-bottom: 1px solid lighten($dark, 5%);
		color: $green;
		font-weight: 300;
		margin: 0;
		padding: 32px 0;
		text-align: center;
	}

	ul {
		display: flex;
		flex-direction: column;
		flex: 1;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		border-bottom: 1px solid lighten($dark, 5%);
		color: $secondary;
		display: flex;
		font-weight: 300;
		font-family: inherit;
		padding: 16px;
		transition: all 0.3s ease;

		&:hover {
			border-bottom-color: #FFF;
			color: #FFF;
			cursor: pointer;
		}

		&:last-child, a {
			background-color: $green;
			border-bottom-width: 0;
			color: $dark;
			margin-top: auto;
		}

		svg {
			margin-right: 8px;
		}
	}

	a {
		display: flex;
	}
}
