@import 'Post/post';

#site-home {

}

#home-info {
	
}

#info-progression {
	background-image: url(/includes/progression.jpg);
}

#info-recruitment {
	background-image: url(/includes/recruitment.png);
}

#home-content {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center;

	.container {
		flex-direction: column;
	}
}

@media screen and (max-width: 480px) {
	#home-content {
		.container {
			padding: 24px 0;
		}
	}
}
