@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&subset=latin-ext');

@import './includes/variables';

@import './app/components/About/about';
@import './app/components/Apply/apply';
@import './app/components/Footer/footer';
@import './app/components/Home/home';
@import './app/components/Home/Post/post';
@import './app/components/Raiding/raiding';
@import './app/components/Register/register';
@import './app/components/Resources/resources';

* {
	box-sizing: border-box;
}

html {
	font-size: 1.125em;
}

body {
	line-height: 1.45;
}

html, body, #root {
	background-color: #EEE;
	color: #333;
	font-family: Nunito Sans, sans-serif;
	height: 100%;
  margin: 0;
	padding: 0;
}

#root {

	> div {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		position: relative;
	}

	main {
		flex: 1;
		padding-bottom: 64px;
	}
}

// Typography

h1, h2, h3 {
  font-weight: 600;
	line-height: 1.2;
	margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

p {
	margin-bottom: 1.3em;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 24px 0;
	max-width: 1280px;
	width: 100%;

	h2 {
		padding: 64px;
	}
}

main > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.top-info {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 24px;
	width: 100%;

	.container {
		flex-direction: row;
		justify-content: space-between;
		padding: 0;

		section, a {
			align-items: center;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			box-shadow: $shadow;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 200px;
			width: 49%;

			section {
				width: 100%;
			}

			h3 {
				color: #FFF;
				display: flex;
				align-items: center;
				flex: 1;
				padding: 24px;
				text-align: center;
				text-shadow: 1px 1px 2px #333;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	#root main {
		padding-bottom: 88px;
	}

	.container {
		padding: 24px;
	}

	.top-info {
		.container {
			flex-direction: column;

			section {
				width: 100%;

				&:first-child {
					margin-bottom: 8px;
				}
			}
		}
	}
}
