.home-post {
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: $shadow;
	margin-bottom: 32px;
}

.home-post-header {
	border-bottom: 1px solid #EEE;
	padding: 16px;
}

.home-post-title {

}

.home-post-content {
	padding: 16px;

	p {
		margin: 0;
	}
}

.home-post-footer {
	border-top: 1px solid #EEE;
	padding: 8px 16px;
}

.metadata {
	color: $green;
	font-size: 0.9em;
	padding-right: 8px;

	&:not(:last-child) {
		border-right: 1px solid #EEE;
		margin-right: 8px;
	}
}

@media screen and (max-width: 480px) {
	.home-post {
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 8px;
	}
}
